html,
body {
  min-height: 100vh;
  font-size: 1.1rem;
  font-family: Arial;
}

body {
  margin: 2em 1em;
}

h1 {
  text-align: center;
}

.cakeImage {
  width: 25%;
  display: block;
  margin: 0 auto 2em auto;
}

/* Contact */
.mapImage {
  width: 35%;
  display: block;
  margin: 0 auto 2em auto;
}

/* Sweets */
.sweetsImage {
  width: 35%;
  display: block;
  margin: 0 auto 2em auto;
}